body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  background-color: white;
}


p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  padding-inline-start: 0px;
}

header{
  /* display: flex;
  align-items: center;
  place-content: space-between; */
  background-color: white;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  position: fixed;
  width: 100%;
  max-width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.imagotipo{
  display: none;
}

#menu,
#menu-check {
  display: none;
}

#menu-cerrar {
  display: none;
}

#menu-check:checked ~ label #menu-abrir {
  display: none;
}

#menu-check:checked ~ label #menu-cerrar {
  display: block;
}

#actual{
  font-weight: bold;
}

.menu-lista-izquierda {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.menu-item a:link {
  text-decoration: none;
  color: black;
}

.menu-item .no-actual:hover{
  color: darkslateblue;
  transition: 0.3s;
}

#actual:hover{
  color: black;
}

.menu-item a:visited {
  color: black;
}

.menu-item {
  margin-right: 3rem;
  font-size: 25px;
}

main {
  padding-top:0;
}

#servicios, #contacto, #formulario{
  margin: 3em;
  gap: 3em 0;
} 

.contenedor-imagen-home {
  position: relative;
  margin-bottom: 3em;
}

.texto-sobre-imagen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
  margin: auto;
  overflow: hidden;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.texto-superpuesto {
  opacity: 0;
  font-size: 4em;
  animation: revelar 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode: forwards;
  margin-bottom: 35px;
}

.subtexto-superpuesto{
  font-size: 1.4em;
  margin-top: -10px;
  margin-bottom: 35px;
  opacity: 0;
  animation: revelar 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  animation-fill-mode:forwards;
  transition: 0.3s;
  text-align: center;
  margin-right: 100px;
  margin-left: 100px;
}

.tooltip {
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.datos-producto{
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
}



@keyframes revelar {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.boton-ver-mas:hover {
  background-color: transparent;
  color: black;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
}

.boton-ver-mas {
  opacity: 0;
  animation: revelar 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  animation-fill-mode:forwards;
  transition: 0.3s;
  background-color: black;
  color: white;
  border-style:solid;
  border-color: black;
  border: 3;
  padding: 1% 2%;
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.boton-saber:hover {
  background-color: transparent;
  color: white;
  opacity: 0.75;
  transition: 0.3s;
  cursor: pointer;
}

.boton-saber {
  opacity: 0;
  animation: revelar 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.7s;
  animation-fill-mode:forwards;
  transition: 0.3s;
  background-color: white;
  color: black;
  border-style:solid;
  border-color: white;
  border: 3;
  padding: 1% 2%;
  font-size: 1.5em;
  font-weight: 500;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  border-radius: 0%;
}

#logo{
  width: auto;
  height: 50px
}

.texto-principal {
  margin: 0px 30px 0px 30px;
}

.imagen-home-mobile {
  display: none;
}

.tarjeta-producto{
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding:0;
  grid-column-end:span 3;
  border: 0.5px solid #bfbfbf;
  padding-bottom: 2.5em;
}


.tarjeta-producto img{
  height: 75%;
  width: 100%;
  transition: transform .2s;
  object-fit: cover;
}

/* .tarjeta-producto > :not(img){
  margin-left: 1rem;
} */

/* .tarjeta-producto img:hover{
  transform: scale(1.2);
} */


/* CSS */
.boton-carrito {
  
  appearance: none;
  backface-visibility: hidden;
  background-color:#333;
  border-radius: 0px;
  border-style: none;
  box-shadow: none;
  box-sizing:content-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 14px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
}

.boton-carrito:hover {
  background-color: dimgray;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.boton-carrito:hover:after {
  opacity: .5;
}

.boton-carrito:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.boton-carrito:active:after {
  opacity: 1;
}

#enviar{
  padding: 0 0;
}

@media (min-width: 768px) {
  .button-65 {
    padding: 14px 22px;
    width: 176px;
  }
}


.tarjeta {
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 15% 0 15%;
  grid-column-end:span 2;
  border:0.5px solid #bfbfbf
}

.grilla {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;
  text-align: center;
  max-width: 100%;
}


.tarjeta-producto h2{
  font-size: 2.3em;
  text-align: center;
  line-height: 20px;
  color:dimgray;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
}

.tarjeta-producto h3{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Dosis', sans-serif;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 10px;
  color:dimgray;
}

.tarjeta-producto p{
  font-size: 17px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icono-svg {
  height: 80px;
  width: 70px;
}

.texto-icono {
  margin: 20px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.texto-icono h3 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}


h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 5.3em;
}


.titulo{
  font-size: 3em;

}

.texto-principal {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  
  text-align: justify;
  text-align: center;
}

.texto-principal h2 {
  font-size: 3em;
}

.fa-home {
  color: white;
}

.boton-home {
  display: inline-block;
  cursor: pointer;
  padding: 0%;
  border: 0;
  background: transparent;
  padding: 5px;
  transition: 0.3s;
}

.boton-home:hover img{
  fill: white;
}

.sobrenosotros .grilla {
  padding: 10px;
  align-items: center;
  animation: revelar 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.fondo-sobrenosotros{
  grid-column-end: span 6;
}

.fondo-sobrenosotros img {
  max-width: 100%;
  border-radius: 1em;
}


.sobrenosotros h2{
  margin-top: 0;
}

.texto-nosotros{
  grid-column-end: span 6;
}

.persona h2{
  font-size: 30px;
}

.persona h3{
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  line-height: 10px;
}

.persona p{
  text-align: center;
}

.personas {
  margin: 0 0 0;
  background-color: black;
  background-image: url(../img/fondo-sn1.jpg);
  background-size: cover;
}

.personas .grilla {
margin-left: 10rem;
margin-right: 10rem;
}

.persona{
  grid-column-end: span 3;
  text-align: center;
  padding: 2em;
  color: white;
}


.persona img{
  border-radius: 50%;
  max-width: 60%;
}


.sabermas {
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.boton-saber-mas {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 50px;
  padding: 2% 3%;
  font-size: 1em;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.boton-saber-mas:hover {
  background: white;
  color: black;
}

.mb-4, .my-4{
  width: 100%;
}

.mb-5, .my-5{
  width: 100%;
}

.form-control{
  margin-right: 15px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
  .overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 15rem auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  /* transition: all 5s ease-in-out; */
}


.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 3em;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.popup .cerrar {
  position: absolute;
  top: 20px;
  right: 30px;
      /* transition: all 200ms; */
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.descripcion h3{
  line-height: 1em;
}
.popup .cerrar:hover {
  color:mediumpurple;
}
.popup .content {
  max-height: 30%;
}

.input-group-text{
  padding: 0 10px 0 10px;
  background-color: transparent;
  border: none;
}

.icono-login{
  grid-row-end: span 2;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #303234;
}

.form-label{
  color: #333;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  margin-left: 15px;
}

.input-group-text img{
  filter: invert(9%) sepia(0%) saturate(1003%) hue-rotate(211deg) brightness(89%) contrast(72%);
}

h4 {
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding-left: 30px;
}

.input-group-text input{
  border-radius: 0%;
  border: none;
}


img{
  width: 100%;
}

.form-imagen{
  grid-column-start: 4;
  grid-column-end: 7;
  background-image: url(../img/fondo-violeta.jpg);
  background-size: cover;
  margin-right: -3em;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario .grilla{
  margin-top: 3em;
}

.info-contenedor{
  padding: 4em;
}

.info{
  color: white;
  display: flex;
  flex-direction: row;
  text-align:left;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1em;
}


.icono-contacto{
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
}


.form-imagen h3{
  margin-left:1em;
  padding-top: 4em;
}

.subtitulo{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  
}

legend{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
}

label{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
  color: lightgray;
}

.link-exterior{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.link-exterior:hover{
  color: darkslateblue;
}

form span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

.navbar-expand-md .navbar-nav .nav-link{
  padding-right: 0;
  padding-left: 0;
}

.nav-link{
  position: relative;
}

.nav-link::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #333;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.nav-item a{
  color: #333;
  font-size: larger;
  font-weight: 500;
}

.nav-item{
  margin-right: 30px;
}

.nav-derecha{
  margin-right: 5px;
}

.link-a{
  position: relative;
}


.link-a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.link-a:hover::before {
  transform: scaleX(1);
}


.grilla form{
  grid-column-end: 10;
  grid-column-start: 7;
  background-color:black;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  text-align: left;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector {
  position: relative;
  border: 0;
  outline: 0;
  font-size: 1em;
  background: transparent;
  color: lightgray;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
  width: 100%;
  height: 2em;
  padding-left: 0;
}

select option {
  margin: 40px;
  color: #fff;
  background:  rgba(0, 0, 0, 0.795);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


input{
  width: 100%;
  margin: auto;
  height: 2em;
  font-size: 1em;
  border: none;
  background: transparent;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233)
}

#boton-enviar{
  background: linear-gradient(89.7deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%); 
  border-radius: 1em;
  color: white;
  font-size: large;
  width: 50%;
  margin-top: 2em;
  border: none;
}

input:focus,
textarea:focus {
    outline: none;
}


textarea {
  width: 300px;
  height: 150px;
  border-radius: 1em;
  resize: vertical;
  background: transparent;
  border: none;
  text-align: left;
  color: lightgray;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
  margin-top: 1em;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}


footer {
  display: block;
  height: 140px;
  background-color: #303234;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  padding: 1px;
  position: relative;
  height: fit-content;
}

footer p {
  text-align: right;
  font-size: 60%;
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: white;
}

footer ul {
  margin-left: 2%;
  margin-top: 3rem;
}

/* enlaces footer*/

.footer-lista-links-internos {
  display: grid;
  gap: 10px;
}


.footer-lista-links-internos a:link {
  color: white;
  text-decoration: none;
}

.footer-lista-links-internos a:visited {
  color: white;
}



/* iconos redes sociales*/

.links-externos {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.fa-brands {
  color: white;
}

.fa-brands:hover {
  color: lightgray;
  transition: 0.3s;
}

li {
  /*  quitar decoracion de los items de las listas*/
  list-style-type: none;
}

.nav-link:hover{
  color: #333;
}

#app{
  margin-bottom: 3rem;
}

.navbar{
  margin-left: 20px;
  margin-right: 20px;
}

.modal-title{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
}

.link-int{
  position: relative;
}

.link-int::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.link-int:hover:before{
  transform: scaleX(1);
}


.offcanvas-end{
  width: 650px;
}

h5{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size:2.5em;
  color: #333;
}

.producto-carrito h6{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

.opciones-carrito{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.datos-carrito p{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color:#333
}

.boton-eliminar{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  text-decoration: underline;
  font-size: 20px;
  color: dimgrey;
}

.sumador{
  display: flex;
  flex-direction: row;
  border: 1px solid #bfbfbf;
  justify-content: center;
  gap: 5px;
  width:fit-content;
  border-radius: 25px;
  align-items: center;
}

.producto-carrito .cantidad{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: #333;
  font-size: 20px;
  margin-bottom: 0;
  width: 30px;
  text-align: center;
}

.boton-sumador{
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  padding: 5px 15px;
  font-size: 20px;
  
}

.linea-gris{
  border-top: 1px solid #bfbfbf;
}

.boton-checkout{
  
  appearance: none;
  backface-visibility: hidden;
  background-color:#333;
  border-radius: 0px;
  border-style: none;
  box-shadow: none;
  box-sizing:content-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  outline: none;
  overflow: hidden;
  padding: 5px 120px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  margin-bottom: 30px;
}

.boton-checkout:hover {
  background-color: dimgray;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.boton-checkout:hover:after {
  opacity: .5;
}

.boton-checkout:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.boton-carrito:active:after {
  opacity: 1;
}


.producto-carrito h6{
  font-size: 20px;
}

.producto-carrito h6::first-letter{
  text-transform: uppercase;
}

.producto-carrito{
  border-top: 1px solid #bfbfbf;
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-self:flex-start;
  margin: 20px 0 0 0;
  padding: 20px 0 20px 0;
  text-align: left;
  gap: 25px;
}

#cuerpo-canvas{
  margin-bottom:180px;
}

#cart-check{
  filter: invert(31%) sepia(76%) saturate(2169%) hue-rotate(141deg) brightness(96%) contrast(101%);
  width: auto;
  height: 20px;
}

.tostada{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  gap: 10px;
}

#agregado-correctamente{
  margin-bottom: 0;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.texto-total{
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 564.5px;
  margin-top: 30px;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.texto-total div:last-child{
  margin-left: auto;
}



.total{
  position: absolute;
  bottom: 0;
  background-color:#f7f7f7;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto-carrito img{
  height: auto;
  max-width: 100%
}

.imagen-carrito{
  width: 25%;
}

.producto-carrito h3{
  text-transform: capitalize;
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  color:#303234;
  font-weight: 600;
}

#carrito-vacio{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  color: #333;
}

#liveToastBtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

#agregar-text{
  font-size: 15px;
  color: white;
  text-align: center;
  margin-bottom: 0;
}

.price{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

.description{
  font-family: 'Azeret Mono', monospace;
  font-family: 'Dosis', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: #333;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                                 EMPIEZAN LOS MEDIA QUERY!! 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }

@media only screen and (max-width: 1500px){
  .personas .grilla{
    margin: 0 0 0 0;
  }

  .grilla .form-imagen{
    grid-column-start: 2;
    grid-column-end: 7;
  }

  .grilla form {
    grid-column-start: 7;
    grid-column-end: 12;
  }
}

@media only screen and (max-width: 1000px) {
  .logo{
    display: none;
  }

  .imagotipo{
    display: block;
  }
  .persona{
    grid-column-end: span 6;
  }

  #grilla-form {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  fieldset{
    align-items: center;
    text-align: center;
  }

  .form-imagen{
    margin-right: 0;
    border-radius: 3em 3em 0 0;
  }

  .grilla form{
    border-radius: 0 0 3em 3em;
  }
  .tarjeta{
    grid-column-end: span 4;

  }

  .tarjeta-producto{
    grid-column-end: span 6;
  }


  #menu-check:not(:checked) ~ nav {
    display: none;
  }

  #menu-check:checked ~ nav {
    display: block;
  }

  .logo-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
  }

  .contenedor {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
  }

  li.menu-item:last-child {
    display: none;
  }

  li.menu-item {
    margin-right: 0;
  }

  .logo{
    margin: 0 auto;
  }

  img.logo {
    margin-left: 0;
  }

  #menu {
    display: block;
    color: black;
    background-color: white;
    font-size: 1.7em;
    position: absolute;
    right: 0.5em;
    top: 27%;
  }

  
}

@media only screen and (max-width: 820px) {

  .texto-nosotros{
    font-size: 2em;
  }

  .tarjeta{
    grid-column-end: span 6;
  }


  

  .imagen-home-mobile {
    display: block;
  }

  .imagen-home-pc {
    display: none;
  }

  .texto-superpuesto {
    font-size: 3em;
    line-height: normal;
  }

  .popup{
    width: 70%;
  }
}


@media only screen and (max-width: 600px) {
  .grilla > * {
    grid-column-end: span 12;
  }

  .grilla{
    gap: 2em 0;
  }

  input{
    width: 50%;
  }

  textarea{
    width: 90%;
  }

  .selector{
    width: 50%;
  }

  .info{
    flex-wrap: wrap;
    text-align: center;
  }

  p {
    word-break: break-all;
    white-space: normal;
  }
  
  @media only screen and (max-width: 550px){
    .subtexto-superpuesto{
      font-size: 1em;
      margin-right: 15px;
      margin-left: 15px;
    }

    .contenedor-imagen-home{
      padding-top: 5rem;
    }

    .texto-superpuesto{
      font-size: 2em;
    }

  }
  
}
